/YoutubeQueuer.Web/YoutubeQueuer.Web/obj
/YoutubeQueuer.Web/YoutubeQueuer.Web/bin
/YoutubeQueuer.Web/packages
/YoutubeQueuer.Web/.vs/YoutubeQueuer.Web/v14/*.suo
/YoutubeQueuer.Web/YoutubeQueuer.Web/google_account_settings.json
/YoutubeQueuer/YoutubeQueuer.Lib/obj
/YoutubeQueuer/YoutubeQueuer.Lib/bin
/YoutubeQueuer/packages
/YoutubeQueuer/.vs/YoutubeQueuer.Web/v14/*.suo
/YoutubeQueuer/YoutubeQueuer.Web/obj
/YoutubeQueuer/YoutubeQueuer.Web/bin
/YoutubeQueuer/YoutubeQueuer.Web/google_account_settings.json
/YoutubeQueuer/YoutubeQueuer.Web/*.user
/YoutubeQueuer/YoutubeQueuer.Web/client_secrets.json
/YoutubeQueuer/.vs/YoutubeQueuer/v14/*.suo
/YoutubeQueuer/YoutubeQueuer.Common/obj
/YoutubeQueuer/YoutubeQueuer.Common/bin
/YoutubeQueuer/YoutubeQueuer.Tests/obj
/YoutubeQueuer/YoutubeQueuer.Tests/bin
/YoutubeQueuer/.vs
/YoutubeQueuerJS/node_modules
/YoutubeQueuerJS/config.js
/YoutubeQueuerJS/server/google-auth-config.js
/YoutubeQueuerJS/.vscode
