@model IEnumerable<YoutubeQueuer.Web.Models.YoutubePlaylistWebModel>

@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @using (Html.BeginForm("AddVideos", "Playlists", FormMethod.Post))
                {
                    <input type="hidden" name="playlistId" value="@item.Id" />

                    <input type="submit" value="Benin" />
                }
            </td>
            <td>
                <a href="@item.Url">Go to playlist</a>
            </td>
        </tr>
    }

</table>
