@model IEnumerable<YoutubeQueuer.Web.Models.YoutubeSubscriptionWebModel>

@{
    ViewBag.Title = "Subscriptions list";
}

<h2>Subscriptions</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ChannelName
            </td>
            <td>Id: @item.ChannelId</td>
            @if (item.LatestVideo != null)
            {
                <td>
                    <a href="http://youtube.com/watch?v=@item.LatestVideo.Id">
                        @item.LatestVideo.Name
                    </a>
                </td>
                <td>@item.LatestVideo.PublishedAt</td>
            }
        </tr>
    }
</table>
