@model IEnumerable<YoutubeQueuer.Web.Models.YoutubeSubscriptionWebModel>

@{
    ViewBag.Title = "Subscriptions list";
}

<h2>Subscriptions</h2>
@using (Html.BeginForm("Index", "Subscriptions", FormMethod.Post))
{
    <input type="submit" value="Save settings" />
    <table class="table">
        <tr>
            <th></th>
        </tr>

        @*@foreach (var item in Model)
        {
            @Html.Partial("SubscriptionPartial", item)
        }*@
        @Html.EditorForModel()
    </table>
}
