<html>

<head>
    <title>Your Youtube playlists</title>
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>
    <h1>Playlists</h1>
    <div>
        <ul data-bind="foreach: playlists">
            <li>
                <span data-bind="text: name"></span>
            </li>
        </ul>
    </div>
    <script src="/scripts/playlists-service.js"></script>
    <script type="text/javascript">
        var service = new Services.PlaylistsService();
        var subs = service.getPlaylists(playlists => {
            ko.applyBindings({
                playlists: playlists
            });
        });
    </script>
</body>

</html>