<html>

<head>
    <title>Your Youtube playlists</title>
</head>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            <li><a href="/playlists">Playlists</a></li>
            <li><a href="/subscriptions">Subscriptions</a></li>
        </ul>
    </nav>
    <h1>Playlists</h1>
    <div>
        <ul data-bind="foreach: playlists">
            <div class="uk-grid">
                <div class="uk-width-1-6">
                    <span data-bind="text: name"></span>
                    <input type="hidden" name="playlistId" data-bind="value: playlistId" />
                </div>
                <div class="uk-wdith-1-6">
                    <button type="submit" class="uk-button uk-button-primary" data-bind="click: feedVideos.bind(null, playlistId)">Add videos to playlist</button>
                </div>
            </div>
        </ul>
    </div>
    <script src="/scripts/playlists-service.js"></script>
    <script type="text/javascript">
        var service = new Services.PlaylistsService();
        function feedVideos(playlistId) {
            var model = { playlistId };

            var data = JSON.stringify(model);s

            var headers = new Headers();
            headers.append("Content-Type", "application/json");

            fetch("/api/feedvideos", {
                method: "POST",
                body: data,
                headers
            }).catch(error => {
                console.log("Error while feeding videos:", error);
            });
        }

        var subs = service.getPlaylists(playlists => {
            ko.applyBindings({
                playlists: playlists,
                feedVideos
            });
        });
    </script>
</body>

</html>